$bg-color: red;

html, body{
    height: 100%;
}

#cover{
    height: 100%;
    background: url('../img/stars.jpg') center center no-repeat; 
    background-size: cover;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption{
    width: 100%;
}

